<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aside</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/detail">Detail</a></li>
            <li><a href="/owner">Owner</a></li>
        </ul>
    </nav>
</body>
</html>
