<!DOCTYPE html>
<html lang="nl-Be">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, <%= user.username %>!</h1>
    <% if (user && user.role === 'ADMIN') { %>
        <a href="/edit" class="btn btn-primary">Edit</a>
    <% } %>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
